body {
    font-family: 'Orbitron', sans-serif;
    background: #0d1117;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

h1 {
    color: skyblue;
}

.container {
    background: linear-gradient(135deg, #1f2937, #374151);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid rgba(0, 217, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    width: 80%;
    max-width: 400px;
    margin: 4px 0;
}

.btn {
    padding: 12px 20px;
    background: #00d9ff;
    color: #0d1117;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
    display: inline-block;
    text-decoration: none;
    margin: 10px 5px;
}

.btn:hover {
    background: #00b3cc;
    transform: scale(1.05);
}

/* ---- Images stylisées ---- */
img {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0, 217, 255, 0.3);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* ---- Alerte ---- */
.overlay {    
    position: fixed;    
    top: 0;    
    left: 0;    
    width: 100%;    
    height: 100%;    
    background: rgba(0, 0, 0, 0.4);    
    backdrop-filter: blur(5px);    
    display: flex;    
    justify-content: center;    
    align-items: center;    
    z-index: 10;    
}    

.alert-box {    
    background: linear-gradient(135deg, #1f2937, #374151);    
    color: #ffffff;    
    padding: 25px;    
    border-radius: 20px;    
    text-align: center;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);    
    max-width: 90%;    
    width: 320px;    
}    

.alert-box h2 {    
    margin-bottom: 8px;    
    font-size: 22px;    
    font-weight: 700;    
}    

.alert-box p {    
    font-size: 16px;    
    font-style: italic;    
    color: #b0bec5;    
    margin-bottom: 20px;    
}    

/* Caché au début */
#content {
    display: none;
        }
